<div class="import-github">
	<h2>Import from github</h2>
 	<p class="import-github-intro">
    Please enter your GitHub username and project name to queue your project for indexing.
  </p>

<%= form_tag(root_path, method: "GET", class: 'js-github-form') do %>
  <div class="project-url">
  	<span class="project-url-prefix">http://github.com/</span>
  	<input class="project-url-field" name="username" placeholder="username">
  	<span class="project-url-slash">/</span>
  	<input class="project-url-field" name="name" placeholder="awesome-project">
  	<%= submit_tag "Submit", class: "project-url-submit" %>
  </p>
<% end %>
</div>
