          <div class="project_header">
            <%= link_to "#{project.username} / #{project.name}", "/#{project.username}/#{project.name}", class: "project_title" %>
            <ul class="severities">
              <li class="severity_fatal">6</li>
              <li class="severity_error">6</li>
              <li class="severity_warning">6</li>
              <li class="severity_convention">6</li>
              <li class="severity_refactor">6</li>
            </ul>
          </div>
          <p class="project_description"><%= project.description %></p>
