---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/mperham/sidekiq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1413635215'
      Last-Modified:
      - Sat, 18 Oct 2014 09:38:49 GMT
      Etag:
      - '"9618ebdf38798c2ed7aeb746b4a97929"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":3195124,"name":"sidekiq","full_name":"mperham/sidekiq","owner":{"login":"mperham","id":2911,"avatar_url":"https://avatars.githubusercontent.com/u/2911?v=2","gravatar_id":"","url":"https://api.github.com/users/mperham","html_url":"https://github.com/mperham","followers_url":"https://api.github.com/users/mperham/followers","following_url":"https://api.github.com/users/mperham/following{/other_user}","gists_url":"https://api.github.com/users/mperham/gists{/gist_id}","starred_url":"https://api.github.com/users/mperham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mperham/subscriptions","organizations_url":"https://api.github.com/users/mperham/orgs","repos_url":"https://api.github.com/users/mperham/repos","events_url":"https://api.github.com/users/mperham/events{/privacy}","received_events_url":"https://api.github.com/users/mperham/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mperham/sidekiq","description":"Simple,
        efficient background processing for Ruby","fork":false,"url":"https://api.github.com/repos/mperham/sidekiq","forks_url":"https://api.github.com/repos/mperham/sidekiq/forks","keys_url":"https://api.github.com/repos/mperham/sidekiq/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mperham/sidekiq/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mperham/sidekiq/teams","hooks_url":"https://api.github.com/repos/mperham/sidekiq/hooks","issue_events_url":"https://api.github.com/repos/mperham/sidekiq/issues/events{/number}","events_url":"https://api.github.com/repos/mperham/sidekiq/events","assignees_url":"https://api.github.com/repos/mperham/sidekiq/assignees{/user}","branches_url":"https://api.github.com/repos/mperham/sidekiq/branches{/branch}","tags_url":"https://api.github.com/repos/mperham/sidekiq/tags","blobs_url":"https://api.github.com/repos/mperham/sidekiq/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mperham/sidekiq/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mperham/sidekiq/git/refs{/sha}","trees_url":"https://api.github.com/repos/mperham/sidekiq/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mperham/sidekiq/statuses/{sha}","languages_url":"https://api.github.com/repos/mperham/sidekiq/languages","stargazers_url":"https://api.github.com/repos/mperham/sidekiq/stargazers","contributors_url":"https://api.github.com/repos/mperham/sidekiq/contributors","subscribers_url":"https://api.github.com/repos/mperham/sidekiq/subscribers","subscription_url":"https://api.github.com/repos/mperham/sidekiq/subscription","commits_url":"https://api.github.com/repos/mperham/sidekiq/commits{/sha}","git_commits_url":"https://api.github.com/repos/mperham/sidekiq/git/commits{/sha}","comments_url":"https://api.github.com/repos/mperham/sidekiq/comments{/number}","issue_comment_url":"https://api.github.com/repos/mperham/sidekiq/issues/comments/{number}","contents_url":"https://api.github.com/repos/mperham/sidekiq/contents/{+path}","compare_url":"https://api.github.com/repos/mperham/sidekiq/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mperham/sidekiq/merges","archive_url":"https://api.github.com/repos/mperham/sidekiq/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mperham/sidekiq/downloads","issues_url":"https://api.github.com/repos/mperham/sidekiq/issues{/number}","pulls_url":"https://api.github.com/repos/mperham/sidekiq/pulls{/number}","milestones_url":"https://api.github.com/repos/mperham/sidekiq/milestones{/number}","notifications_url":"https://api.github.com/repos/mperham/sidekiq/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mperham/sidekiq/labels{/name}","releases_url":"https://api.github.com/repos/mperham/sidekiq/releases{/id}","created_at":"2012-01-16T23:17:27Z","updated_at":"2014-10-18T09:38:49Z","pushed_at":"2014-10-16T21:07:30Z","git_url":"git://github.com/mperham/sidekiq.git","ssh_url":"git@github.com:mperham/sidekiq.git","clone_url":"https://github.com/mperham/sidekiq.git","svn_url":"https://github.com/mperham/sidekiq","homepage":"http://sidekiq.org","size":28549,"stargazers_count":4410,"watchers_count":4410,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":727,"mirror_url":null,"open_issues_count":30,"forks":727,"open_issues":30,"watchers":4410,"default_branch":"master","network_count":727,"subscribers_count":170}'
  recorded_at: Sat, 18 Oct 2014 12:07:56 GMT
- request:
    method: get
    uri: https://api.github.com/repos/snusnu/procto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1414003753'
      Last-Modified:
      - Tue, 01 Jul 2014 05:03:06 GMT
      Etag:[...]
