---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/raphaelcosta/sample-private?access_token=asd98asasd55cx52329e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="asd98asasd55cx52329e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1420915716'
      Last-Modified:
      - Sat, 10 Jan 2015 18:19:07 GMT
      Etag:
      - '"e5a25e55bd9f4ec8e197f891471c1fab"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 433b6974f5233e028a3b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":29066200,"name":"sample-private","full_name":"raphaelcosta/sample-private","owner":{"login":"raphaelcosta","id":171371,"avatar_url":"https://avatars.githubusercontent.com/u/171371?v=3","gravatar_id":"","url":"https://api.github.com/users/raphaelcosta","html_url":"https://github.com/raphaelcosta","followers_url":"https://api.github.com/users/raphaelcosta/followers","following_url":"https://api.github.com/users/raphaelcosta/following{/other_user}","gists_url":"https://api.github.com/users/raphaelcosta/gists{/gist_id}","starred_url":"https://api.github.com/users/raphaelcosta/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raphaelcosta/subscriptions","organizations_url":"https://api.github.com/users/raphaelcosta/orgs","repos_url":"https://api.github.com/users/raphaelcosta/repos","events_url":"https://api.github.com/users/raphaelcosta/events{/privacy}","received_events_url":"https://api.github.com/users/raphaelcosta/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/raphaelcosta/sample-private","description":"","fork":false,"url":"https://api.github.com/repos/raphaelcosta/sample-private","forks_url":"https://api.github.com/repos/raphaelcosta/sample-private/forks","keys_url":"https://api.github.com/repos/raphaelcosta/sample-private/keys{/key_id}","collaborators_url":"https://api.github.com/repos/raphaelcosta/sample-private/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/raphaelcosta/sample-private/teams","hooks_url":"https://api.github.com/repos/raphaelcosta/sample-private/hooks","issue_events_url":"https://api.github.com/repos/raphaelcosta/sample-private/issues/events{/number}","events_url":"https://api.github.com/repos/raphaelcosta/sample-private/events","assignees_url":"https://api.github.com/repos/raphaelcosta/sample-private/assignees{/user}","branches_url":"https://api.github.com/repos/raphaelcosta/sample-private/branches{/branch}","tags_url":"https://api.github.com/repos/raphaelcosta/sample-private/tags","blobs_url":"https://api.github.com/repos/raphaelcosta/sample-private/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/raphaelcosta/sample-private/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/raphaelcosta/sample-private/git/refs{/sha}","trees_url":"https://api.github.com/repos/raphaelcosta/sample-private/git/trees{/sha}","statuses_url":"https://api.github.com/repos/raphaelcosta/sample-private/statuses/{sha}","languages_url":"https://api.github.com/repos/raphaelcosta/sample-private/languages","stargazers_url":"https://api.github.com/repos/raphaelcosta/sample-private/stargazers","contributors_url":"https://api.github.com/repos/raphaelcosta/sample-private/contributors","subscribers_url":"https://api.github.com/repos/raphaelcosta/sample-private/subscribers","subscription_url":"https://api.github.com/repos/raphaelcosta/sample-private/subscription","commits_url":"https://api.github.com/repos/raphaelcosta/sample-private/commits{/sha}","git_commits_url":"https://api.github.com/repos/raphaelcosta/sample-private/git/commits{/sha}","comments_url":"https://api.github.com/repos/raphaelcosta/sample-private/comments{/number}","issue_comment_url":"https://api.github.com/repos/raphaelcosta/sample-private/issues/comments/{number}","contents_url":"https://api.github.com/repos/raphaelcosta/sample-private/contents/{+path}","compare_url":"https://api.github.com/repos/raphaelcosta/sample-private/compare/{base}...{head}","merges_url":"https://api.github.com/repos/raphaelcosta/sample-private/merges","archive_url":"https://api.github.com/repos/raphaelcosta/sample-private/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/raphaelcosta/sample-private/downloads","issues_url":"https://api.github.com/repos/raphaelcosta/sample-private/issues{/number}","pulls_url":"https://api.github.com/repos/raphaelcosta/sample-private/pulls{/number}","milestones_url":"https://api.github.com/repos/raphaelcosta/sample-private/milestones{/number}","notifications_url":"https://api.github.com/repos/raphaelcosta/sample-private/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/raphaelcosta/sample-private/labels{/name}","releases_url":"https://api.github.com/repos/raphaelcosta/sample-private/releases{/id}","created_at":"2015-01-10T18:15:37Z","updated_at":"2015-01-10T18:19:07Z","pushed_at":"2015-01-10T18:19:05Z","git_url":"git://github.com/raphaelcosta/sample-private.git","ssh_url":"git@github.com:raphaelcosta/sample-private.git","clone_url":"https://github.com/raphaelcosta/sample-private.git","svn_url":"https://github.com/raphaelcosta/sample-private","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Sat, 10 Jan 2015 18:24:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/raphaelcosta/sample-private/languages?access_token=asd98asasd55cx52329e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="asd98asasd55cx52329e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1420915716'
      Last-Modified:
      - Sat, 10 Jan 2015 18:19:07 GMT
      Etag:
      - '"5d39c0827ad7098ba71f1f8549f0b5e8"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 433b6974f5233e028a3b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":19}'
  recorded_at: Sat, 10 Jan 2015 18:24:28 GMT
[...]
