/*
 * red: #e4796b
 * green: #3a988c
 * yellow links: #bea54d
 * */

@font-face {
  font-family: 'input_mono_compressedmedium';
  src: asset-url('fonts/inputmonocompressed-medium-webfont.eot');
  src: asset-url('fonts/inputmonocompressed-medium-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('fonts/inputmonocompressed-medium-webfont.woff2') format('woff2'),
  asset-url('fonts/inputmonocompressed-medium-webfont.woff') format('woff'),
  asset-url('fonts/inputmonocompressed-medium-webfont.ttf') format('truetype'),
  asset-url('fonts/inputmonocompressed-medium-webfont.svg#input_mono_compressedmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'input_mono_compressedlight';
  src: asset-url('fonts/inputmonocompressed-light-webfont.eot');
  src: asset-url('fonts/inputmonocompressed-light-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('fonts/inputmonocompressed-light-webfont.woff2') format('woff2'),
  asset-url('fonts/inputmonocompressed-light-webfont.woff') format('woff'),
  asset-url('fonts/inputmonocompressed-light-webfont.ttf') format('truetype'),
  asset-url('fonts/inputmonocompressed-light-webfont.svg#input_mono_compressedlight') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Nano reset */

*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
body{
  font: 16px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #536360;
  min-width: 980px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper{
  width: 980px;
  margin: 0 auto;
}
.home header {
  background: #f8f6e0 image-url("robocop.png") no-repeat 50% 0;
  padding: 70px 0;
}
.home .logo a {
  background: image-url("refactorcop.svg") no-repeat 0 0;
  height: 55px;
  text-indent: -9999px; /*note to self: look for something more elegant*/
  display: block;
}
.home header p {
  color: #5d9693;
  font: 24px/38px "input_mono_compressedlight", sans-serif;
  width: 620px;
  padding: 35px 0 25px 0;
  a {
    color: #bea54d;
  }
}
.search{
  margin: 0 0 25px 0;
  position: relative;
  width: 456px;
  height: 64px;
}
.search_repo{
  background: #312938 image-url("search.svg") no-repeat 410px 50%;
  border: 3px solid #a0d1b8;
  width: 386px;
  height: 58px;
  color: #d2bc8c;
  outline: none;
  font: 16px/58px "input_mono_compressedlight", sans-serif;
  padding: 0 54px 0 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search_button{
  background: transparent;
  color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  position: absolute;
  right: 3px;
  top: 3px;
  display: block;
  width: 54px;
  height: 58px;
  cursor: pointer;
}
.search_repo::-webkit-input-placeholder{
  color: #d2bc8c;
  font: 16px/58px "input_mono_compressedlight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search_repo:-moz-placeholder{
  color: #d2bc8c;
  font: 16px/58px "input_mono_compressedlight", sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
.search_repo::-moz-placeholder{
  color: #d2bc8c;
  font: 16px/58px "input_mono_compressedlight", sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
.search_repo:-ms-input-placeholder{
  color: #d2bc8c;
  font: 16px/58px "input_mono_compressedlight", sans-serif;
}
.home header h2{
  font: 24px "input_mono_compressedmedium", sans-serif;
  color: #e4796b;
  margin: 0 0 10px 0;
}
.im_feeling_lucky{
  background: #e4796b;
  height: 58px;
  display: inline-block;
  font: 18px/58px "input_mono_compressedmedium", sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 0 16px;
}
.project_lists{
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.project_lists h2{
  font: 30px "input_mono_compressedmedium", sans-serif;
  color: #312938;
  border-bottom: 3px solid #dbdbdb;
  padding: 0 0 5px 0;
}
.trending, .recommended{
  width: 470px;
}
.project{
  padding: 14px 0 20px 0;
  border-bottom: 1px solid #dbdbdb;
}
.project_header{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.trending .project_title, .search_results .project_title{
  color: #3a988c;
  font: 18px/32px "input_mono_compressedmedium", sans-serif;
}
.severities{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.severities li{
  border-radius: 16px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #fff;
  font: 12px/32px "input_mono_compressedmedium", sans-serif;
  margin: 0 0 0 5px;
}
.severity_fatal{
  background: #ea9d93;
}
.severity_error{
  background: #f4c3ab;
}
.severity_warning{
  background: #eed2a2;
}
.severity_convention{
  background: #e5dad1;
}
.severity_refactor{
  background: #c8bcb3;
}
.project_description{
  margin: 8px 0 0 0;
  font-size: 12px;
  width: 450px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recommended .project_title{
  color: #bea54d;
  font: 18px/32px "input_mono_compressedmedium", sans-serif;
}
.view_all{
  display: inline-block;
  margin: 14px 0 0 0;
}
.view_all, .project_lists span{
  font: 18px/32px "input_mono_compressedmedium", sans-serif;
  color: #e4796b;
}
.why_open_source{
  background: #f1f9f7;
  margin: 40px 0 0 0;
  padding: 40px 0 60px 0;
}
.why_open_source h2{
  font: 30px "input_mono_compressedmedium", sans-serif;
  color: #312938;
}
.why_open_source h3{
  font: 24px "input_mono_compressedlight", sans-serif;
  color: #3a988c;
  padding: 15px 0;
}
.why_open_source ul{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.why_open_source li{
  width: 300px;
}
.why_open_source p{
  line-height: 26px;
}
.footer{
  background: #312938;
  color: #d2bc8c;
  padding: 30px 0 60px;
}

/* Project page */

.secondary header{
  height: 74px;
  background: #f8f6e0;
  border-top: 3px solid #e4796b;
}
.secondary .wrapper{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.secondary header h1{
  padding: 24px 0 0 0;
  width: 180px;
}
.secondary h1 a{
  background: image-url("refactorcop.svg") no-repeat -2px 0;
  background-size: 180px 27px;
  height: 27px;
  text-indent: -9999px; /*note to self: look for something more elegant*/
  display: block;
}
.secondary .search{
  margin: 16px 0 0 0;
  position: relative;
  width: 230px;
  /*height: 64px;*/
}
.secondary .search_repo{
  background: #312938 image-url("search.svg") no-repeat 194px 50%;
  background-size: 23px 22px;
  border: 3px solid #a0d1b8;
  width: 176px;
  height: 38px;
  color: #d2bc8c;
  outline: none;
  padding: 0 38px 0 10px;
  font: 16px/38px "input_mono_compressedlight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.secondary .search_button{
  background: transparent;
  color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  position: absolute;
  right: 3px;
  top: 3px;
  display: block;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.secondary .search_repo::-webkit-input-placeholder{
  color: #d2bc8c;
  font: 16px/38px "input_mono_compressedlight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.secondary .search_repo:-moz-placeholder{
  color: #d2bc8c;
  font: 16px/38px "input_mono_compressedlight", sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
.secondary .search_repo::-moz-placeholder{
  color: #d2bc8c;
  font: 16px/38px "input_mono_compressedlight", sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
.secondary .search_repo:-ms-input-placeholder{
  color: #d2bc8c;
  font: 16px/38px "input_mono_compressedlight", sans-serif;
}



/* Project details */


.project_details{
  width: 710px;
  padding: 40px 0 50px 0;
}
.project_details h2{
  color: #dddddd;
  font: 36px/48px "input_mono_compressedmedium", sans-serif;
}
.project_details h2 a{
  text-decoration: none;
  color: #e4796b
}
.project_details h2 a:first-child{
  color: #3a988c;
  font-family: "input_mono_compressedlight", sans-serif;
}
.project_details p{
  padding: 8px 0 20px 0;
  border-bottom: 3px solid #dbdbdb;
}
.project_details li{
  padding: 36px 0 24px 0;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.project_details .offense_bullet{
  position: absolute;
  top: 32px;
  left: -34px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
}
.offense_type{
  font: 14px/20px "input_mono_compressedlight", sans-serif;
  text-transform: capitalize;
}
.offense_message{
  font: 18px/22px "input_mono_compressedlight", sans-serif;
  color: #312938;
}
.offense_type_fatal{
  color: #d53c28;
}
.offense_type_error{
  color: #ea8857;
}
.offense_type_warning{
  color: #dea646;
}
.offense_type_convention{
  color: #ccb6a4;
}
.offense_type_refactor{
  color: #927a68;
}
.filename a{
  color: #3a988c;
  font: 14px/20px "input_mono_compressedmedium", sans-serif;
}
.snippet{
  margin: 20px 0 0 0;
}
.line-numbers {
  margin-right:10px;
}

.pagination{
  margin: 40px 0 0 -4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  font: 18px/33px "input_mono_compressedmedium", sans-serif;
}
.pagination .current{
  line-height: 35px;
  display: block;
  height: 35px;
  min-width: 35px;
  padding: 0 8px;
  background: #e4796b;
  color: #fff;
  text-align: center;
  margin: 0 4px;
}
.pagination .page a, .pagination .last a, .pagination .first a, .pagination .prev a {
  display: block;
  height: 35px;
  min-width: 35px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 2px solid #dbdbdb;
  text-decoration: none;
  color: #312938;
  text-align: center;
  margin: 0 4px;
}

.pagination .next, .pagination .prev {
  display:none;
}

.pagination .page a:hover, .pagination .last a:hover, .pagination .next a:hover, .pagination .first a:hover, .pagination .prev a:hover {
  display: block;
  height: 35px;
  min-width: 35px;
  padding: 0 8px;
  box-sizing: border-box;
  border: 2px solid #e4796b;
  text-decoration: none;
  color: #e4796b;
}
.pagination .gap{
  margin: 0 8px;
}
.pagination .last a, .pagination .first a, .pagination .next a, .pagination .prev a, .pagination .first a{
  padding: 0 8px;
}


/* Sidebar */

.sidebar{
  width: 230px;
  padding: 42px 0 0 0;
}
.sidebar .im_feeling_lucky{
  background: #e4796b;
  height: 40px;
  width: 230px;
  display: inline-block;
  font: 18px/40px "input_mono_compressedmedium", sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 0;
}
.sidebar h3{
  color: #312938;
  font: 24px/30px "input_mono_compressedmedium", sans-serif;
  padding: 0 0 8px 0;
  border-bottom: 3px solid #dbdbdb;
  margin: 40px 0 0 0;
}
.sidebar .offenses{
  margin: 24px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ededed;
}
.sidebar .offenses li{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  margin: 0 0 14px 0;
}
.offenses .severity_count{
  border-radius: 16px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #fff;
  font: 12px/32px "input_mono_compressedmedium", sans-serif;
  margin: 0 10px 0 0;
}
.offenses .severity_type{
  font: 18px/32px "input_mono_compressedlight", sans-serif;
  text-transform: capitalize;
}

/* Dissapointed cops */

.sidebar .disappointed_cops{
  margin: 24px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ededed;
}
.sidebar .disappointed_cops li{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  margin: 0 0 14px 0;
}
.disappointed_cops .severity_count{
  border-radius: 16px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #312938;
  font: 12px/30px "input_mono_compressedmedium", sans-serif;
  margin: 0 10px 0 0;
  border: 2px solid #dbdbdb;
  box-sizing: border-box;
}
.disappointed_cops .severity_type{
  font: 12px/32px "input_mono_compressedmedium", sans-serif;
  text-transform: capitalize;
  color: #536360;
}
.secondary .footer{
  margin: 80px 0 0 0;
}

/* Updates & fixes */

.project .severities li{
  cursor: default;
}

/* Tooltips */

.hint, [data-hint] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ 
 }
.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms; 
}
.hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, 
[data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
  visibility: visible;
  opacity: 1; }
.hint:hover:before, .hint:hover:after, [data-hint]:hover:before, [data-hint]:hover:after {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}
.hint:before, [data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001;
}
.hint:after, [data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
.hint--top:before {
  border-top-color: #383838; 
}

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -12px;
}
.hint--top:after {
  margin-left: -18px;
}
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 30%; 
}
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); 
}

.trending .project_title, .recommended .project_title{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Footer */

.footer .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between; 
  padding-top: 40px;
  padding-bottom: 40px;
}

.credits {
  width: 470px;
}

.credits p {
  color: #8F8598;
  font: 14px/20px "input_mono_compressedlight", sans-serif;
  padding-bottom: 20px;
}

.credits strong {
  color: #fff;
}

.credits img {
  padding-top: 20px;
}

.credits p a {
  color: #a0d1b8;
}

.credits p a:hover {
  text-decoration: none;
}

.quote {
  width: 470px;
}

.quote_text {
  font: 24px/30px "input_mono_compressedlight", sans-serif;
  color:white;
  padding-bottom:20px;
}

.quote_author {
  font: 24px/30px "input_mono_compressedmedium", sans-serif;
  color:#e4796b;
}


/* Search results */

.search_results{
  width: 100%;
}


/* Friendly message */

.friendly {
  background-color:#f1f9f7;
  padding: 20px;
  margin-top:20px;
  line-height: 32px;
}

.friendly a {
  color: #3a988c;
}