<footer>
  <div class="wrapper">
    <section class="about">
      <p><strong>RefactorCop</strong> is a concept and realization by <%= [ "Anthony Liekens", "Dale Hofkens", "Maarten Claes", "Stelian Firez"].shuffle.to_sentence %></p>
      <p><strong>RefactorCop</strong> was made possible because of <a href="https://github.com/bbatsov/rubocop">RuboCop</a>, an awesome static code analyzer for your Ruby projects!</p>
      <p>Credits for the RoboCop logo go to <a href="https://www.behance.net/pntr">PNTR</a></p>
    </section>
    <section class="roboquote">
      <blockquote>
        <%= random_quote %>
      </blockquote>
      <p>--Robocop</p>
    </section>
  </div>
  <div class="wrapper">
    <a href="http://railsrumble.com/entries/85-refactorcop" target="_blank">
      <%= image_tag "railsrumble.png" %>
    </a>
  </div>
</footer>
